.restaurantesContainer,
.gastronomiaContainer,
.nosotrosContainer,
.empleoContainer {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurantesContainer {
  width: 100%;
  background-image: url("/images/banner/fondorestaurantes.jpg");
}

.gastronomiaContainer,
.empleoContainer {
  width: 100%;
  background-image: url("/images/banner/fondogastronomia.jpg");
  margin-left: auto;
  margin-right: auto;
}

.nosotrosContainer {
  width: 100%;
  background-image: url("/images/banner/fondoabout.jpg");
}

.empleoContainer {
  width: 100%;
  background-image: url("/images/banner/fondoempleo.jpg");
}

.restaurantesFrameContent,
.gastronomiaFrameContent,
.nosotrosFrameContent,
.empleoFrameContent {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.restaurantesFrameContent::before,
.gastronomiaFrameContent::before,
.nosotrosFrameContent::before,
.empleoFrameContent::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2px;
  height: 90%;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.restaurantesTextSection,
.gastronomiaTextSection,
.nosotrosTextSection,
.empleoTextSection {
  flex: 1;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px #4a403a, -1px -1px 2px #4a403a, 1px -1px 2px #4a403a, -1px 1px 2px #4a403a;
}

.restaurantesButtonsSection,
.gastronomiaButtonsSection,
.nosotrosButtonsSection,
.empleoButtonsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.restaurantesTitle,
.nosotrosTitle {
  font-size: 40px;
}

.gastronomiaTitle,
.empleoTitle {
  font-size: 34px;
}

.restaurantesHighlight,
.gastronomiaHighlight,
.nosotrosHighlight,
.empleoHighlight {
  font-weight: bold;
}

.restaurantesHighlight,
.nosotrosHighlight {
  font-size: 50px;
}

.gastronomiaHighlight,
.empleoHighlight {
  font-size: 40px;
}

.bannerButton {
  width: 150px;
  max-width: 200px;
  --bs-btn-bg: rgba(74, 64, 58, 0.8);
  --bs-btn-border-color: rgba(74, 64, 58, 0.8);
  --bs-btn-hover-bg: #720b0b;
  --bs-btn-hover-border-color: #720b0b;
  --bs-btn-active-bg: #720b0b;
  --bs-btn-active-border-color: #720b0b;
  --bs-btn-disabled-bg: rgba(74, 64, 58, 0.8);
  --bs-btn-disabled-border-color: rgba(74, 64, 58, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 6px 20px rgba(0, 0, 0, 0.19);
  transform: translateZ(0);
}

.reverse {
  flex-direction: row-reverse;
}

/* Modo Tablet */
@media (max-width: 1024px) {
  .restaurantesTitle,
  .nosotrosTitle {
    font-size: 42px;
  }

  .restaurantesHighlight,
  .nosotrosHighlight {
    font-size: 48px;
  }

  .gastronomiaTitle,
  .empleoTitle {
    font-size: 32px;
  }

  .gastronomiaHighlight,
  .empleoHighlight {
    font-size: 38px;
  }
}

/* Modo Móvil */
@media (max-width: 767px) {
  .restaurantesFrameContent,
  .gastronomiaFrameContent,
  .nosotrosFrameContent,
  .empleoFrameContent {
    flex-direction: column;
    border-top: none;
    padding: 0;
  }

  .restaurantesFrameContent,
  .nosotrosFrameContent {
    height: 300px;
  }

  .gastronomiaFrameContent,
  .empleoFrameContent {
    height: 250px;
  }

  .restaurantesFrameContent::before,
  .gastronomiaFrameContent::before,
  .nosotrosFrameContent::before,
  .empleoFrameContent::before {
    width: 90%;
    height: 2px;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }

  .restaurantesTextSection,
  .gastronomiaTextSection,
  .nosotrosTextSection,
  .empleoTextSection,
  .restaurantesButtonsSection,
  .gastronomiaButtonsSection,
  .nosotrosButtonsSection,
  .empleoButtonsSection {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurantesTextSection,
  .gastronomiaTextSection,
  .nosotrosTextSection,
  .empleoTextSection {
    color: #4a403a;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white;
  }

  .restaurantesButtonsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .gastronomiaButtonsSection,
  .nosotrosButtonsSection,
  .empleoButtonsSection {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .restaurantesTitle,
  .nosotrosTitle {
    font-size: 32px;
  }

  .restaurantesHighlight,
  .nosotrosHighlight {
    font-size: 38px;
  }

  .gastronomiaTitle,
  .empleoTitle {
    font-size: 30px;
  }

  .gastronomiaHighlight,
  .empleoHighlight {
    font-size: 36px;
  }

  .reverseMobile {
    flex-direction: column-reverse;
  }
}

/* Modo Móvil Pantalla Pequeña */
@media (max-width: 385px) {
  .restaurantesTitle,
  .nosotrosTitle {
    font-size: 20px;
  }

  .restaurantesHighlight,
  .nosotrosHighlight {
    font-size: 24px;
  }

  .gastronomiaTitle,
  .empleoTitle {
    font-size: 18px;
  }

  .gastronomiaHighlight,
  .empleoHighlight {
    font-size: 22px;
  }
}
