.blogDetailsContainer {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 130px;
  text-align: justify;
  color: var(--text_color);
  font-size: 18px;
  padding: 15px;
}

.blogTitle {
  margin-bottom: 10px;
  text-align: center;
}

.blogAuthor {
  padding-top: 50px;
}
.blogAuthor,
.blogDate {
  color: #666;
  font-size: 14px;
}

.blogImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.blogText {
  line-height: 1.6;
  color: var(--text_color);
}
