.localesContainer {
  margin-bottom: 20px;
  text-align: center; /* Centrar el contenedor de información de contacto */
}

.contactLocation {
  display: inline-block;
  width: 80%; /* 20% menos de ancho */
  border: 2px solid #4a403a;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: left;
}

.transportContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.transportItem {
  flex: 1 1 200px;
  text-align: center;
  margin: 10px;
  object-fit: contain; /* Asegura que las imágenes mantengan su proporción original */
}

.transportItem img {
  width: 70px;
  height: auto; /* La altura se ajusta automáticamente */
}

.transportItem h4 {
  margin-top: 10px;
  font-weight: bold;
}

.transportItem p {
  margin-top: 5px;
}

/* MODO MOVIL */
@media (max-width: 767px) {
  .transportContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0; /* Elimina cualquier margen extra del contenedor */
  }

  .transportItem {
    width: 100%;
    margin: -20px 0 0 0; /* Aplica margen negativo para reducir el espacio vertical entre elementos*/
    padding: 0; /* Asegúrate de que no haya relleno extra */
  }
}
