.carouselContainer {
  width: 60%;
  margin: 0 auto; /* Centrar el carrusel en el contenedor */
}

.image {
  width: 100%;
  height: auto;
}

.text {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  border: 1px solid #4a403a; /* Borde de 1px */
}
