.carouselContainer {
  width: 80%;
  margin: 0 auto; /* Centrar el carrusel en el contenedor */
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  width: 100%;
  height: auto;
  /* padding: 20px; */
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  /* border: 1px solid #4a403a; */
}
/* Asegurar que solo se muestren los carousels específicos */
.carouselContainer {
  display: none;
}
/* MODO MOVIL */
@media (max-width: 767px) {
  .carouselContainer {
    width: 90%;
  }
  .carouselContainer {
    display: block;
  }
}
