.formContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
