.cookieModalBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cookieModal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 650px;
}

.switchContainer {
  margin-bottom: 20px;
}

.switch {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 10px;
  margin-left: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #198754;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.acceptButton {
  width: 300px;
  --bs-btn-bg: #4a403a;
  --bs-btn-border-color: #4a403a;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-disabled-bg: #4a403a;
  --bs-btn-disabled-border-color: #4a403a;
}

.cancelButton {
  width: 300px;
  --bs-btn-bg: #4a403a;
  --bs-btn-border-color: #4a403a;
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-active-bg: #dc3545;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-disabled-bg: #4a403a;
  --bs-btn-disabled-border-color: #4a403a;
}

.link {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none; /* Opcional: eliminar el subrayado de los enlaces */
}

.link:hover {
  text-decoration: underline; /* Opcional: agregar subrayado al pasar el ratón */
}
