/* error.module.css */
.errorContainer {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 90px;
  font-size: 18px;
  color: var(--text_color);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Añade un margen superior */
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .errorContainer {
    max-width: 100%;
    font-size: 22px;
    padding: 20px;
  }
}
