.footer {
  width: 100%;
  background-color: #4a403a;
  color: white;
  text-align: center;
  padding: 0; /* Elimina el padding */
  height: 60px; /* Altura fija */
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.footer p {
  margin: 0;
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.footerLoader {
  --point-color: white; /* Cambiar el color si es necesario */
  --size: 3px; /* Ajustar el tamaño de los puntos */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 10;
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .footer {
    height: 80px;
  }
}

/* MODO MOVIL CON PANTALLA PEQUEÑA */
@media (max-width: 385px) {
  .footer {
    height: 100px;
  }
}
