.footer {
  width: 100%;
  background-color: #4a403a;
  color: white;
  text-align: center;
  padding: 0; /* Elimina el padding */
  height: 70px; /* Altura fija */
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center; /* Centrar horizontalmente el contenido */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer p {
  margin: 0;
  font-size: 16px;
}

.link {
  text-decoration: none; /* Opcional: eliminar el subrayado de los enlaces */
}

.link:hover {
  text-decoration: underline; /* Opcional: agregar subrayado al pasar el ratón */
}
