.downloadMenuButton {
  width: 400px;
  --bs-btn-bg: #4a403a;
  --bs-btn-border-color: #4a403a;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-disabled-bg: #4a403a;
  --bs-btn-disabled-border-color: #4a403a;
}

.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.responsiveImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.responsiveImage:hover {
  transform: scale(1.15);
}

/* Ocultar el carrusel en modo escritorio en la página de gastronomía */
.mobileCarousel {
  display: none;
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .downloadMenuButton {
    width: 300px;
  }
}

/* MODO MOVIL */
@media (max-width: 767px) {
  .downloadMenuButton {
    width: 300px;
  }
  /* Ocultar las imágenes en línea en móvil */
  .imageContainer {
    display: none;
  }

  /* Mostrar el carrusel solo en móvil en la página de gastronomía */
  .mobileCarousel {
    display: block;
  }
}
