:root {
  --text_color: #4a403a;
}

body {
  font-family: "Courgette", sans-serif;
  background-color: #f8edd1;
  margin: 0;
  overflow-x: hidden;
}

.pageContainer {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  text-align: justify;
  margin-bottom: 90px;
  font-size: 18px;
  color: var(--text_color);
}

.pageContainer h1 {
  text-align: center;
}

.pageContainer table {
  font-size: 16px;
}

.table td,
.table th {
  vertical-align: middle;
}

.d-inline {
  display: inline;
}

.fs-16p {
  font-size: 16px !important;
}

.fs-14p {
  font-size: 14px !important;
}

.ti-20p {
  text-indent: 20px;
}

.mt-15p {
  margin-top: 15px;
}

.mt-25p {
  margin-top: 25px;
}

.mb-10p {
  margin-bottom: 10px;
}

.mb-40p {
  margin-bottom: 40px;
}

.mw-600p {
  max-width: 600px;
}

.scrollTop {
  position: fixed;
  right: calc(25% + 20px);
  bottom: 70px; /* Separación de 70px desde el fondo para evitar superposición con el footer */
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(74, 64, 58, 0.5); /* Corregido para usar rgba para la transparencia */
  border-radius: 20px; /* Esto hará que el botón sea perfectamente redondo */
  cursor: pointer;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollTop:hover {
  background: #4a403a; /* Corregido para usar rgba para la transparencia */
}

.scrollTop img {
  width: 20px; /* Ajusta el tamaño de la imagen según necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.Toastify__toast-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 420px;
}

.Toastify__toast {
  background-color: #4a403a;
}

/* Ajustar los puntos del carrusel */
.slick-dots {
  bottom: 30px; /* Ajusta este valor según lo cerca que quieras los puntos de la imagen */
  color: #4a403a;
}

/* Cambiar el color de las flechas del carrusel */
.slick-prev,
.slick-next {
  color: #4a403a; /* Cambia el color de las flechas */
}

.slick-prev::before,
.slick-next::before {
  color: #4a403a; /* Asegura que el color de las flechas sea marrón */
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .pageContainer {
    max-width: 100%;
    font-size: 22px;
  }

  .scrollTop {
    right: 20px;
    bottom: 90px;
  }

  .Toastify__toast-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
}
/* MODO MOVIL */
@media (max-width: 767px) {
  .pageContainer h3 {
    font-weight: bold;
    text-align: center;
  }
}

.ti-20p {
  text-indent: 0px;
}

.slick-dots {
  bottom: 15px; /* Ajusta este valor según lo cerca que quieras los puntos de la imagen */
}

/* MODO MOVIL PANTALLA PEQUEÑA */
@media (max-width: 385px) {
  .scrollTop {
    right: 20px;
    bottom: 110px;
  }
}
