/* Globals.css */

/* Definición de variables CSS a nivel raíz */
:root {
  --text_color: #4a403a; /* Color de texto principal definido como un tono marrón oscuro */
}

/* Estilos generales para el cuerpo de la página */
html,
body {
  /*font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal; */
  font-family: "Courgette", sans-serif; /* Fuente principal de la página */
  font-weight: normal;
  font-style: normal;
  background-color: #f1eee3; /* Color de fondo claro */
  margin: 0; /* Elimina el margen por defecto del navegador */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  width: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

/*
h1,h2,h3,h4,.btn {
  font-family: "Courgette", sans-serif;
  font-weight: normal;
  font-style: normal;
}
*/

/* Contenedor principal de la página */
.pageContainer {
  max-width: 50%; /* Ancho máximo del 50% del contenedor padre */
  margin: auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Espaciado interno de 20 píxeles */
  text-align: justify; /* Justifica el texto dentro del contenedor */
  margin-bottom: 90px; /* Márgen inferior de 90 píxeles */
  font-size: 18px; /* Tamaño de fuente de 18 píxeles */
  color: var(--text_color); /* Color de texto usando la variable definida */
}

/* Estilos para los títulos h1 dentro del contenedor principal */
.pageContainer h1 {
  text-align: center; /* Centra el texto del h1 */
}

/* Estilos para las tablas dentro del contenedor principal */
.pageContainer table {
  font-size: 16px; /* Tamaño de fuente de 16 píxeles para las tablas */
}

/* Alineación vertical para celdas de tablas */
.table td,
.table th {
  vertical-align: middle; /* Alinea el contenido verticalmente en el medio */
}

/* Clase para elementos en línea */
.d-inline {
  display: inline; /* Muestra el elemento como inline */
}

/* Clases utilitarias para tamaños de fuente */

.fs-16p {
  font-size: 16px !important; /* Fuerza el tamaño de fuente a 16 píxeles */
}

.fs-14p {
  font-size: 14px !important; /* Fuerza el tamaño de fuente a 14 píxeles */
}

/* Clase utilitaria para indentación de texto */
.ti-20p {
  text-indent: 20px; /* Indenta el texto 20 píxeles */
}

/* Clases utilitarias para márgenes superiores */
.mt-15p {
  margin-top: 15px; /* Márgen superior de 15 píxeles */
}

.mt-25p {
  margin-top: 25px; /* Márgen superior de 25 píxeles */
}

/* Clases utilitarias para márgenes inferiores */
.mb-10p {
  margin-bottom: 10px; /* Márgen inferior de 10 píxeles */
}

.mb-40p {
  margin-bottom: 40px; /* Márgen inferior de 40 píxeles */
}

/* Clase utilitaria para ancho máximo */
.mw-600p {
  max-width: 600px; /* Ancho máximo de 600 píxeles */
}

/* Estilos para dispositivos tipo tablet */
@media (max-width: 1024px) {
  /* Ajustes del contenedor principal en tablet */
  .pageContainer {
    max-width: 100%; /* Ancho completo del contenedor padre */
    font-size: 20px; /* Tamaño de fuente a 22 píxeles */
    padding: 16px; /* Reduce el padding a 16 píxeles */
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  /* Estilos para títulos h3 dentro del contenedor principal en móvil */
  h1,
  h2 {
    text-align: center; /* Centra el texto */
    font-weight: bold;
  }

  /* Elimina la indentación de texto en móvil */
  .ti-20p {
    text-indent: 0px; /* Indentación de texto eliminada */
  }
}
