body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/web/fondo.gif");
  background-repeat: repeat; /* Hace que la imagen se repita para llenar todo el fondo */
  background-size: auto; /* La imagen conservará su tamaño original */
  margin: 0;
}

.container {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}

.container2 {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  text-align: left;
  text-align: justify;
  margin-bottom: 50px;
  font-size: 18px;
}

table {
  font-size: 16px;
}

.table td,
.table th {
  vertical-align: middle;
}

.d-inline {
  display: inline;
}

.fs-16p {
  font-size: 16px !important;
}

.fs-14p {
  font-size: 14px !important;
}

.ti-20p {
  text-indent: 20px;
}
.mt-15p {
  margin-top: 15px;
}

.mt-25p {
  margin-top: 25px;
}

.mb-10p {
  margin-bottom: 10px;
}

.mw-600p {
  max-width: 600px;
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .container,
  .container2 {
    max-width: 100%;
    font-size: 22px;
  }
}
