.animationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.animationTime {
  --animate-duration: 1s;
  --animate-delay: 0.5s;
}

.animationFont {
  font-family: "Courgette", serif !important;
  font-size: 80px;
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .animationFont {
    font-size: 60px;
  }
}

/* MODO MOVIL */
@media (max-width: 767px) {
  .animationFont {
    font-size: 40px;
  }
}
