.restaurantesContainer,
.gastronomiaContainer {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.restaurantesContainer {
  width: 100%;
  background-image: url("/images/inicio/fondorestaurantes.jpg");
}

.gastronomiaContainer {
  width: 80%;
  background-image: url("/images/inicio/fondogastronomia.jpg");
  margin-left: auto; /* Centrado horizontal */
  margin-right: auto; /* Centrado horizontal */
}

.frameContent {
  width: 100%;
  max-width: 1200px; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

/* Divisor Vertical */
.frameContent::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.restaurantesTextSection,
.gastronomiaTextSection {
  flex: 1;
  color: white;
  text-shadow: 1px 1px 2px #4a403a, -1px -1px 2px #4a403a, 1px -1px 2px #4a403a, -1px 1px 2px #4a403a;
  text-align: center;
  justify-content: center;
}

.restaurantesTitle {
  font-size: 40px;
  line-height: 1.2;
}

.gastronomiaTitle {
  font-size: 34px;
}

.restaurantesHighlight,
.gastronomiaHighlight {
  font-weight: bold;
}

.restaurantesHighlight {
  font-size: 50px;
}

.gastronomiaHighlight {
  font-size: 40px;
}

.restaurantesButtonsSection,
.gastronomiaButtonsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.inicioButton {
  width: 150px; /* Tamaño fijo */
  max-width: 200px;
  --bs-btn-bg: rgba(74, 64, 58, 0.8);
  --bs-btn-border-color: rgba(74, 64, 58, 0.8);
  --bs-btn-hover-bg: #720b0b;
  --bs-btn-hover-border-color: #720b0b;
  --bs-btn-active-bg: #720b0b;
  --bs-btn-active-border-color: #720b0b;
  --bs-btn-disabled-bg: rgba(74, 64, 58, 0.8);
  --bs-btn-disabled-border-color: rgba(74, 64, 58, 0.8);
}

/* Modo Tablet */
@media (max-width: 1024px) {
  .restaurantesTitle {
    font-size: 36px;
  }

  .restauranteshighlight {
    font-size: 40px;
  }

  .gastronomiaTitle {
    font-size: 30px;
  }

  .gastronomiaHighlight {
    font-size: 34px;
  }
}

/* Modo Móvil */
@media (max-width: 767px) {
  .frameContent {
    flex-direction: column;
    border-top: none;
  }

  /* Divisor horizontal */
  .frameContent::before {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .restaurantesTextSection,
  .gastronomiaTextSection {
    color: #4a403a;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white, -1px 1px 2px white;
    text-align: center;
    justify-content: center;
  }

  .restaurantesTextSection {
    padding-bottom: 50px;
  }

  .restaurantesTitle {
    font-size: 30px;
    line-height: normal;
  }

  .restauranteshighlight {
    font-size: 36px;
  }

  .gastronomiaTitle {
    font-size: 24px;
  }

  .gastronomiaHighlight {
    font-size: 28px;
  }

  .restaurantesButtonsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }

  .gastronomiaButtonsSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicioButton {
    max-width: 100%;
  }
}

/* Modo Móvil Pantalla Pequeña */
@media (max-width: 385px) {
  .restaurantesTitle {
    font-size: 20px;
  }

  .restauranteshighlight {
    font-size: 24px;
  }
  .gastronomiaTitle {
    font-size: 18px;
  }

  .gastronomiaHighlight {
    font-size: 22px;
  }
}
