.mapContainer {
  width: 80%;
  height: 400px;
  margin: 0 auto; /* Centrar el mapa */
  border-radius: 10px;
}

/* MODO TABLET */
@media (max-width: 1024px) {
  .mapContainer {
    width: 100%;
    height: 400px;
    margin: 0 auto; /* Centrar el mapa */
  }
}
