/* Estilos generales del navbar */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor superior que incluye logo, textoLogo y selector */
.navbarTop {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgLogoContainer {
  width: 25%;
  display: flex;
  justify-content: center;
}

.imgLogo {
  width: 100%;
  cursor: pointer;
}

.textLogoContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.textLogo {
  width: 100%;
}

.flagContainer {
  width: 25%;
  display: flex;
  justify-content: center;
}

.flag {
  cursor: pointer;
  width: 40px;
  height: auto;
  margin: 5px;
}

.mobileMenuIcon {
  display: none; /* Por defecto no se muestra, cambiará en media query para móviles */
  cursor: pointer;
  margin-top: 3px; /* Añade esta línea para mover el icono 2px hacia abajo */
}

.mobileMenuIcon .inner {
  width: 30px; /* Reducido de 40px a 30px */
  height: 30px; /* Reducido de 40px a 30px */
  position: relative;
}

.mobileMenuIcon .inner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; /* Reducido de 40px a 30px */
  height: 3px; /* Reducido de 4px a 3px */
  background-color: white;
  transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s, left 0.2s ease-in-out;
}

.mobileMenuIcon .inner span:nth-child(1) {
  top: 0;
}

.mobileMenuIcon .inner span:nth-child(2),
.mobileMenuIcon .inner span:nth-child(4) {
  top: 13px; /* Ajustado para mantener proporción */
}

.mobileMenuIcon .inner span:nth-child(3) {
  top: 26px; /* Ajustado para mantener proporción */
}

.colapseSpin .inner span {
  transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, opacity 0.1s ease-in-out 0.2s;
}

.colapseSpin .inner span:nth-child(1) {
  top: 13px; /* Ajustado para mantener proporción */
  transform: rotate(45deg);
}

.colapseSpin .inner span:nth-child(2) {
  top: 13px; /* Ajustado para mantener proporción */
  opacity: 0;
}

.colapseSpin .inner span:nth-child(3) {
  top: 13px; /* Ajustado para mantener proporción */
  transform: rotate(-45deg);
}

.menuIcon {
  width: 30px; /* Ajusta el ancho de la imagen del menú */
  height: auto; /* Mantiene la proporción */
}

/* Estilo para el contenedor de enlaces */
.navbarMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4a403a;
  font-size: 18px;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

/* Estilo de los enlaces */
.links a,
.linksDropdown a,
.noLink {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  position: relative; /* Necesario para posicionar el pseudo-elemento ::after correctamente */
  overflow: hidden; /* Asegura que cualquier hijo que desborde se oculte */
  transition: color 0.3s ease; /* Transición suave para color */
}

.noLink {
  cursor: pointer;
  display: flex; /* Asegura la misma alineación vertical */
  align-items: center; /* Alinea verticalmente el contenido */
}

/* Añade pseudo-elementos ::after para la barra inferior blanca */
.links a::after,
.linksDropdown a::after,
.noLink::after,
.dropdown a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px; /* Altura de la línea */
  background-color: white; /* Color de la línea */
  transform: scaleX(0); /* Inicia sin ser visible */
  transition: transform 0.3s ease; /* Transición suave para la transformación */
}

/* Cambia el color de fondo al pasar el ratón por encima y muestra la barra inferior blanca */
@media (hover: hover) {
  .links a:hover::after,
  .linksDropdown a:hover::after,
  .dropdown a:hover::after,
  .noLink:hover::after {
    transform: scaleX(1); /* Escala a tamaño completo para hacer visible la línea */
  }

  .links a:hover,
  .linksDropdown a:hover,
  .noLink:hover,
  .dropdown a:hover {
    background-color: #7a726b; /* Color de fondo al hacer hover */
  }
}

/* Deshabilita el hover en dispositivos táctiles */
@media (hover: none) {
  .links a::after,
  .linksDropdown a::after,
  .noLink::after,
  .dropdown a::after {
    content: none; /* Elimina la barra inferior */
  }

  .links a:hover,
  .linksDropdown a:hover,
  .noLink:hover,
  .dropdown a:hover {
    background-color: inherit; /* Elimina el efecto de fondo al hacer hover */
  }
}

/* Configuración del menú desplegable para 'Restaurantes' */
.linksDropdown {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #4a403a;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
  transition: all 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(10px);
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(10px);
}

.dropdown::before {
  /* Triángulo */
  content: "";
  position: absolute;
  top: -10px; /* Modificar este valor para acercar al menú desplegable */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #4a403a;
  z-index: 2; /* Asegurándonos de que esté por encima del menú desplegable */
}

.dropdown.show::before {
  display: block;
}

.dropdown.hide::before {
  display: none;
}

.dropdown a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  text-align: center; /* Asegura que el texto esté centrado horizontalmente */
  width: 100%; /* Asegura que el enlace ocupe todo el ancho del menú desplegable */
}

.linksDropdown:hover .dropdown {
  transform: translateX(-50%) translateY(10px);
}

.loaderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; /* Altura del menú */
  width: 100%; /* Ancho del contenedor del menú */
}

.navbarLoader {
  --point-color: white;
  --size: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ajusta si es necesario */
  height: 100%; /* Ajusta si es necesario */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 10;
}

/* MODO TABLET Y ESCRITORIO POCA RESOLUCION */
@media (max-width: 1600px) {
  .navbarTop {
    width: 100%;
  }

  .links {
    width: 100%;
    justify-content: center;
  }
}

/* MODO TABLET PEQUEÑA*/
@media (max-width: 850px) {
  .links a,
  .linksDropdown a,
  .noLink {
    padding: 5px;
  }
}

/* MODO MOVIL */
@media (max-width: 767px) {
  .navbarTop {
    width: 100%;
    flex-direction: column;
  }

  .imgLogoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imgLogo {
    height: 200px;
    width: auto;
  }

  .textLogoContainer {
    display: none;
  }

  .flagContainer {
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    background-color: #4a403a;
    align-items: center;
    padding: 10px 0px;
  }

  .mobileMenuIcon {
    display: flex;
    cursor: pointer;
    margin-left: 5%;
    align-items: center;
  }

  .flags {
    margin-right: 5%;
  }

  .flag {
    width: 30px;
  }

  .navbarMenu {
    font-size: 22px;
    flex-direction: column;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    margin-top: -1px;
  }

  .navbarMenu.showMenu {
    max-height: 100vh;
    min-height: calc(100vh - 360px);
    visibility: visible;
    opacity: 1;
    overflow: auto;
    padding-bottom: 10px;
    transition-delay: 0s;
  }

  .links {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .links a {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0px;
  }

  .dropdown {
    position: relative;
    display: none;
    width: 100%;
    box-shadow: none;
    padding: 0px;
    transform: translateX(-50%) translateY(0px);
    transition: none; /* Elimina cualquier transición */
  }

  .dropdown.show {
    display: block;
  }

  .dropdown.hide {
    display: none;
  }

  .linksDropdown .dropdown::before {
    display: none; /* Elimina el triángulo */
  }

  .links a::after,
  .linksDropdown a::after,
  .dropdown a::after {
    height: 0; /* Elimina la altura para que la línea no aparezca */
    background-color: transparent; /* Hace que la línea sea transparente */
    transform: none; /* Anula cualquier transformación */
    transition: none; /* Anula las transiciones */
  }

  .links a:hover::after,
  .linksDropdown a:hover::after,
  .dropdown a:hover::after {
    transform: none; /* Anula la transformación al hacer hover */
  }
}

/* MODO MOVIL PANTALLA PEQUEÑA */
@media (max-width: 385px) {
  .imgLogo {
    height: 150px;
    width: auto;
  }
}
