/* scrollToTop.css */
.scrollToTopContainer {
  margin-top: 40px;
}

.scrollToTop {
  height: 40px;
  width: 40px;
  text-align: center;
  background: rgba(74, 64, 58, 0.5);
  border-radius: 20px;
  cursor: pointer;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.3s ease-in-out; /* Transición suave de la posición */
}

.scrollToTop:hover {
  background: var(--text_color);
}

.scrollToTop img {
  width: 20px;
  height: auto;
}

/* Estilos para dispositivos tipo tablet */
@media (max-width: 1024px) {
  /* Ajustes de posición del botón de desplazamiento en tablet */

  .scrollToTopContainer {
    margin-top: 30px;
  }
}

/* Estilos para dispositivos tipo tablet */
@media (max-width: 768px) {
  /* Ajustes de posición del botón de desplazamiento en tablet */

  .scrollToTopContainer {
    margin-top: 30px;
  }
}
