/* pages/contacto.module.css */

/* Contenedor principal para el formulario */
.formContainer {
  max-width: 600px; /* Ancho máximo de 600 píxeles para limitar la extensión del formulario */
  margin: 0 auto; /* Centra el contenedor horizontalmente dentro de su elemento padre */
  margin-top: 40px; /* Márgen superior de 40 píxeles para separar del contenido anterior */
  padding: 20px; /* Espaciado interno de 20 píxeles alrededor del contenido */
  border-radius: 8px; /* Bordes redondeados de 8 píxeles para suavizar la apariencia */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar efecto de profundidad */
}

/* Estilo para los enlaces */
.link {
  text-decoration: none; /* Elimina el subrayado de los enlaces para una apariencia más limpia */
  color: #e3011a;
}

/* Efecto al pasar el ratón sobre los enlaces */
.link:hover {
  text-decoration: underline; /* Agrega subrayado al pasar el ratón para indicar interactividad */
}
