/* pages/error.module.css */

/* Contenedor para mensajes de error */
.errorContainer {
  max-width: 50%; /* Ancho máximo del 50% del contenedor padre */
  margin: auto; /* Centra el contenedor horizontalmente */
  padding: auto; /* Espaciado interno de 20 píxeles alrededor del contenido */
  text-align: center; /* Centra el texto dentro del contenedor */
  margin-bottom: 80px; /* Márgen inferior de 90 píxeles para separar del contenido siguiente */
  font-size: 18px; /* Tamaño de fuente de 18 píxeles para una lectura cómoda */
  color: var(--text_color); /* Aplica el color de texto definido en la variable CSS */
}

/* Contenedor para la imagen dentro del mensaje de error */
.imageContainer {
  display: flex; /* Utiliza flexbox para alinear el contenido */
  justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  margin-top: 10px; /* Añade un margen superior de 10 píxeles */
}

/* Estilo para las imágenes dentro del contenedor de imágenes */
.imageContainer img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen ajustando la altura automáticamente */
}

/* Media Queries para dispositivos con ancho máximo de 800 píxeles */
@media screen and (max-width: 768px) {
  /* Ajustes para el contenedor de error en dispositivos más pequeños */
  .errorContainer {
    max-width: 100%; /* Expande el ancho al 100% del contenedor padre */
    font-size: 22px; /* Aumenta el tamaño de fuente a 22 píxeles para mejor legibilidad en pantallas pequeñas */
    padding: 20px; /* Mantiene el espaciado interno de 20 píxeles */
  }
}
