/* pages/politica-cookies.module.css */

/* Estilo de lista con márgenes laterales */
.listas {
  margin-left: 40px; /* Márgen izquierdo de 40 píxeles */
  margin-right: 60px; /* Márgen derecho de 60 píxeles */
}

/* Estilo básico para enlaces */
.link {
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

/* Efecto hover para enlaces */
.link:hover {
  text-decoration: underline; /* Agrega subrayado al pasar el ratón, indicando interactividad */
}

/* Botón de eliminación */
.deleteButton {
  width: 400px; /* Ancho fijo de 400 píxeles */
  --bs-btn-bg: var(--text_color); /* Color de fondo predeterminado del botón */
  --bs-btn-border-color: var(--text_color); /* Color de borde predeterminado del botón */
  --bs-btn-hover-bg: #dc3545; /* Color de fondo al pasar el ratón (rojo) */
  --bs-btn-hover-border-color: #dc3545; /* Color de borde al pasar el ratón (rojo) */
  --bs-btn-active-bg: #dc3545; /* Color de fondo al hacer clic */
  --bs-btn-active-border-color: #dc3545; /* Color de borde al hacer clic */
  --bs-btn-disabled-bg: var(--text_color); /* Color de fondo cuando el botón está deshabilitado */
  --bs-btn-disabled-border-color: var(--text_color); /* Color de borde cuando el botón está deshabilitado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra para dar profundidad */
  transform: translateZ(0); /* Optimiza el rendimiento de la animación */
}

/* Separador de filas en una tabla */
.tableSeparator td {
  padding: 1px 0; /* Espaciado vertical ajustado */
  background-color: white; /* Color de fondo blanco para las celdas */
}

/* Media Queries para dispositivos tipo tablet */
@media (max-width: 1024px) {
  .deleteButton {
    width: 300px; /* Reduce el ancho del botón a 300 píxeles en tablets */
  }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 767px) {
  /* Ajustes de márgenes en listas para pantallas pequeñas */
  .listas {
    margin-left: 20px; /* Reduce el márgen izquierdo a 20 píxeles */
    margin-right: 20px; /* Reduce el márgen derecho a 20 píxeles */
  }

  /* Asegura que cada elemento de lista ocupe el ancho completo en móvil */
  .listas li {
    width: 100%; /* Ancho completo para cada elemento de lista */
    padding-left: 0; /* Elimina padding izquierdo adicional */
    padding-right: 0; /* Elimina padding derecho adicional */
  }
}
