/* Contenedor principal del carrusel */
.carouselContainer {
  width: 80%; /* Ancho del 80% del contenedor padre */
  margin: 0 auto; /* Centra el carrusel horizontalmente dentro del contenedor */
  border-radius: 10px; /* Bordes redondeados de 10 píxeles para suavizar la apariencia */
  overflow: hidden; /* Oculta cualquier contenido que exceda los límites del contenedor */
  line-height: 0; /* Elimina el espacio vertical entre líneas dentro del contenedor */
}

/* Estilo para las imágenes dentro del carrusel */
.image {
  width: 100%; /* Ancho completo de la imagen para que ocupe todo el contenedor */
  height: auto; /* Altura automática para mantener la proporción de la imagen */
  display: block; /* Muestra la imagen como un bloque para eliminar espacios blancos alrededor */
}

/* Contenedor de texto dentro del carrusel */
.text {
  width: 100%; /* Ancho completo del contenedor de texto */
  height: 100%; /* Altura completa del contenedor padre */
  /* padding: 20px; */ /* Espaciado interno de 20 píxeles, actualmente comentado */
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Utiliza flexbox para alinear el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

/* Ajustes de los puntos del carrusel Slick */
.slick-dots {
  bottom: 30px; /* Posiciona los puntos a 30 píxeles desde el fondo */
  color: #4a403a; /* Color de los puntos marrón oscuro */
}

/* Cambiar el color de las flechas del carrusel Slick */
.slick-prev,
.slick-next {
  color: #4a403a; /* Color de las flechas marrón oscuro */
}

/* Asegura que las flechas del carrusel Slick sean del color correcto */
.slick-prev::before,
.slick-next::before {
  color: #4a403a; /* Color de las flechas marrón oscuro */
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 767px) {
  /* Ajustes del contenedor del carrusel en dispositivos móviles */
  .carouselContainer {
    width: 90%; /* Aumenta el ancho al 90% para aprovechar mejor el espacio en pantallas pequeñas */
  }
  /* Ajusta la posición de los puntos del carrusel Slick en móvil */
  .slick-dots {
    bottom: 15px; /* Posiciona los puntos a 15 píxeles desde el fondo */
  }
}
