/* components/Footer.module.css */

.footer {
  width: 100%;
  background-color: var(--text_color);
  color: white;
  text-align: center;
  padding: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 7;
}

.footer p {
  margin: 0;
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.rightsText,
.mainSeparator,
.links {
  display: inline;
}

.linksContainer {
  display: inline;
}

.topLinks,
.bottomLink {
  display: inline;
}

.separator {
  display: inline;
}

@media (max-width: 1024px) {
  .footer {
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .footer {
    position: static;
    height: 80px;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .footer p {
    text-align: center;
    font-size: 16px;
  }

  .rightsText {
    font-size: 12px;
  }
}

@media (max-width: 396px) {
  .footer {
    height: 80px; /* Mantenemos la altura de móvil */
  }

  .rightsText {
    font-size: 15px;
  }

  .linksContainer {
    display: inline-block;
  }

  .topLinks {
    display: inline-block;
  }

  .bottomLink {
    display: block;
    margin-top: 5px;
  }

  /* Mantenemos visible el separador entre los dos primeros enlaces */
  .separator {
    display: inline;
  }

  /* Ocultamos el separador principal en móvil */
  .mainSeparator {
    display: none;
  }
}
