/* components/Footer.module.css */

/* Contenedor principal del pie de página */
.footer {
  width: 100%; /* Ancho completo del pie de página */
  background-color: var(--text_color); /* Color de fondo */
  color: white; /* Color de texto blanco */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 0; /* Elimina el padding interno */
  height: 60px; /* Altura fija de 60 píxeles */
  display: flex; /* Utiliza flexbox para alinear el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  position: fixed; /* Posiciona el pie de página de manera fija */
  bottom: 0; /* Alinea el pie de página al fondo de la ventana */
  left: 0; /* Alinea el pie de página al lado izquierdo de la ventana */
  z-index: 5; /* Define el orden de apilamiento para que esté por encima de otros elementos */
}

/* Estilos para los párrafos dentro del pie de página */
.footer p {
  margin: 0; /* Elimina los márgenes predeterminados */
  font-size: 16px; /* Tamaño de fuente de 16 píxeles */
}

/* Estilos para los enlaces */
.link {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Efecto al pasar el ratón sobre los enlaces */
.link:hover {
  text-decoration: underline; /* Agrega subrayado al pasar el ratón */
}

/* Estilos para los elementos span específicos */
.rightsText,
.separator,
.links {
  display: inline; /* Muestra los elementos en línea */
}

/* Media Queries para dispositivos móviles */
/* En dispositivos con ancho máximo de 768px, ajustamos el diseño */
@media (max-width: 768px) {
  .footer {
    position: static; /* Elimina la posición fija en dispositivos móviles */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    padding-bottom: env(safe-area-inset-bottom); /* Añade padding para el área segura en dispositivos con notch */
  }

  .footer p {
    text-align: center; /* Centra el texto */
  }

  .separator {
    display: none; /* Oculta el separador en dispositivos móviles */
  }

  .links {
    display: block; /* Muestra los enlaces en bloque para que aparezcan debajo del texto de derechos */
    margin-top: 5px; /* Agrega un margen superior */
  }
}

/* Media Queries para dispositivos tipo tablet */
@media (max-width: 1024px) {
  .footer {
    height: auto; /* Permite que la altura se ajuste automáticamente */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
  }
}

/* Media Queries para dispositivos móviles con pantalla muy pequeña */
@media (max-width: 385px) {
  .footer {
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}
